//
// VARIABLES
// --------------------------
$font-size-base: 100%;
$font-family-sans: Montserrat,
sans-serif;
$font-family-serif: 'Big Caslon',
Georgia,
serif;
$color-text: #fff;
$color-muted: #777;
$color-bg-body: #2f313c;
$color-bg-home: #8fd2d1;
$color-bg-gallery: #ffd256;
$color-bg-blog: #019dcd;
$color-bg-contact: #fd685b;

/******************************/

$page-colors:( 'home':#8fd2d1, 'gallery':#ffd256, 'blog':#019dcd, 'contact':#fd685b, );