//
// GENERAL
// --------------------------
html {
    -webkit-box-sizing: box-sizing;
    box-sizing: box-sizing;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

section {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

body {
    color: $color-text;
    background: $color-bg-body;
    font: {
        size: $font-size-base;
        family: $font-family-sans;
        weight: normal;
    }
    text-align: center;
    margin: 0;
}

.container {
    max-width: 100%;
    ;
    padding: 0 16px
}

a {
    color: $color-text;
    text-decoration: none;
    transition: .2s all ease-in-out;
}

img {
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
}

.menu {
    margin: 0;
    padding-left: 0;
    list-style: none;
    li,
    a {
        display: inline-block;
        margin-right: 10%;
    }
}