/*
@mixin border-box {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin content-box {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}*/

@mixin box-sizing ($value) {
    -webkit-box-sizing: $value;
    box-sizing: $value;
} //zmenšený zápis předchozího¨
@mixin container($width) {
    max-width: $width;
    margin: 0 auto;
}